/* 全局样式表 */

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 14px;
}

.el-table {
  margin-top: 15px;
}

.el-steps {
  margin: 20px 0px;
}

.el-step__title {
  font-size: 13px;
}

.ql-editor {
  min-height: 300px;
}

.el-input__inner{
  border-radius: 20px;

}
.el-input-group__append{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}